.input-group {
    width: 100%;
    margin-bottom: 20px;
}

.input-group .input-group-text {
    width: 120px;
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.input-group .form-control {
    flex: 1;
}

.form-control:focus {
    box-shadow: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.error-message {
    display: none;
    color: red;
}

.custom-select {
    color: #595c5f;
}

.custom-select:focus {
    color: #595c5f;
}

#submit {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #0056b3;
}