.input-group {
    width: 100%;
    margin-bottom: 20px;
}
body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.input-group .input-group-text {
    width: 120px;
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.phone-prefix {
    top: 0;
    left: 0;
    padding: 0.375rem 0.75rem;
    margin-top: 0px;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.close-btn {
    position: absolute;
    top: -5px;
    right: 5px;
    cursor: pointer;
}

#failPopup{
    background-color: #ed4337;
    
}

.hidden{
    display: none;
}

.popup {
    background-color: #609966;
    color: white;
    font-size: x-large;
    font-stretch: 150%;
    text-align: center;
    position: relative;
    margin-top: 20px; 
    margin-bottom: 20px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    display: block; 
}

.input-group .form-control {
    flex: 1;
}

.form-control:focus {
    box-shadow: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.error-message {
    display: none;
    color: red;
}

.custom-select {
    color: #595c5f;
}

.custom-select:focus {
    color: #595c5f;
}

#submit {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #0056b3;
}