body{
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(131, 159, 160), rgb(64, 57, 117));
}
#title{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 55px;
}
#register-title{
    width: 60%;
}
#login-interface{
    margin-top: auto;
    margin-bottom: auto;
}
#login-form{
    padding-bottom: 30px;
    width: 37%;
    background-color: lightgray;
    border: solid 3px gray;
    box-shadow: 5px 5px 5px 5px;
    padding: 8px;
    border-radius: 10px;
}
.form-input{
    margin-bottom: 7px;
}
.showPasswordBox{
    margin-right: 5px;
}
#login-inputs{
    margin: auto;
    width: 65%;
}
#button-group{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 65%;
}
#emailError{
    color: red;
    display: none;
}
#passwordLengthError{
    color: red;
    display: none;
}
#passwordCharacterError{
    color: red;
    display: none;
}
#login-button{
    width: 100%;
}
#register-button{
    width: 100%;
}
#back{
    width: 20%;
}
#filler{
    width: 20%;
}


