.history-section {
    margin-top: 30px;
}

.history-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.history-item h3 {
    margin-top: 0;
}

.no-events {
    text-align: center;
    margin-top: 20px;
}

.btn-action{
    width:40%   ;
    margin-right: 5px;
    margin-bottom: 5px;
}

.black-btn {
    background-color: #555555;
    color: white;
}

.black-btn:hover {
    background-color: #323232;
    color: white;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}