.history-section {
    margin-top: 30px;
}

.history-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.sent{
    display: none;
}

#radio-buttons {
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

.history-item h3 {
    margin-top: 0;
}

.no-change{
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: center;
}

.no-events {
    text-align: center;
    margin-top: 20px;
}

.black-btn {
    background-color: #555555;
    color: white;
}

.black-btn:hover {
    background-color: #323232;
    color: white;
}

#first {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#second {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#third {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#fourth {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3px;
}

.grid-container button {
    width: 100%;
}