#title{
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}
#content{
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    border: 1px solid #e5cbba;
    border-radius: 5px;
    background-color: #F6EEE3;
}
#head{
    text-align: center;
    height: 150px;
    width: 100%;
    display: flex;
}
#headFirst{
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    display: inline-block;
}
#headSecond{
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
    display: inline-block;
}
#headThird{
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
    display: inline-block;
}