#title {
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}

.phone-prefix {
    top: 0;
    left: 0;
    padding: 0.375rem 0.75rem;
    margin-top: 0px;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.popup form{
    font-size: medium;
}

.popup {
    background-color: #609966;
    color: white;
    font-size: x-large;
    font-stretch: 150%;
    text-align: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    display: block;
}

.close-btn {
    position: absolute;
    top: -5px;
    right: 5px;
    cursor: pointer;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border: 1px solid #e5cbba;
    border-radius: 5px;
    background-color: #F6EEE3;
}

h5 {
    text-align: center;
}

#head {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
    display: flex;
}

#hatarido {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
    display: flex;
}

#hataridoFirst {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    width: 25%;
    display: inline-block;
}

#hataridoSecond {
    margin-top: auto;
    margin-bottom: auto;
    width: 75%;
    display: inline-block;
}

#szolgaltatas {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
    display: flex;
}

#szolgaltatasFirst {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    width: 25%;
    display: inline-block;
}

#szolgaltatasSecond {
    margin-top: auto;
    margin-bottom: auto;
    width: 75%;
    display: inline-block;
}

.szolgaltatasGroup {
    border-radius: 5px;
    background-color: #d8cebe;
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    margin-bottom: 5px;
}

#tetel {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
    display: flex;
}

#tetelFirst {
    text-align: left;
    margin-top: auto;
    width: 25%;
    margin-bottom: auto;
    display: inline-block;
}

#tetelSecond {
    margin-top: auto;
    margin-bottom: auto;
    width: 75%;
    display: inline-block;
}

.tetelGroup {
    border-radius: 5px;
    background-color: #d8cebe;
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    margin-bottom: 5px;
}


#headFirst {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    width: 25%;
    display: inline-block;
}

#headSecond {
    margin-top: auto;
    margin-bottom: auto;
    width: 75%;
    display: inline-block;
}