#title {
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border: 1px solid #e5cbba;
    border-radius: 5px;
    background-color: #F6EEE3;
}

h5 {
    text-align: center;
}

#head {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
    display: flex;
}

#hatarido {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
    display: flex;
}

#hataridoFirst {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    width: 25%;
    display: inline-block;
}

#hataridoSecond {
    margin-top: auto;
    margin-bottom: auto;
    width: 75%;
    display: inline-block;   
}

#szolgaltatas {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
    display: flex;
}

#szolgaltatasFirst {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    width: 25%;
    display: inline-block;
}

#szolgaltatasSecond {
    margin-top: auto;
    margin-bottom: auto;
    width: 75%;
    display: inline-block;   
}

.szolgaltatasGroup {
    border-radius: 5px;
    background-color: #d8cebe;
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    margin-bottom: 5px;
}

#tetel {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
    display: flex;
}

#tetelFirst {
    text-align: left;
    margin-top: auto;
    width: 25%;
    margin-bottom: auto;
    display: inline-block;
}

#tetelSecond {
    margin-top: auto;
    margin-bottom: auto;
    width: 75%;
    display: inline-block;   
}

.tetelGroup {
    border-radius: 5px;
    background-color: #d8cebe;
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    margin-bottom: 5px;
}


#headFirst {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    width: 25%;
    display: inline-block;
}

#headSecond {
    margin-top: auto;
    margin-bottom: auto;
    width: 75%;
    display: inline-block;
}